*{

    box-sizing: border-box;
    background-color: blanchedalmond;
    font-family: cursive;
}

#title{
    text-align: center;
    text-decoration: wavy;
}

img{
    margin-top: 50px;
    margin-left: 550px;
    margin-bottom: 50px;
    height : auto;
    width: 400px;
}

