body{
    padding:0px;
    margin:0px;
    border:0px;
    box-sizing: border-box;
    background-color: beige;
}

.home-body #title{
    text-align: center;
    font-family:sans-serif sans-serif;
    color:rgb(54, 33, 5);
}

.list{
    height: 100px;
    width: 200px;
    margin-left : 400px;;
    font-size: large;
    color:rgb(54, 33, 5);
}

.list .one{
    padding: 20px;
    
      
}

.bo{
   display:inline-block; 
   border: 2px solid red;
   color:white;
}
